**Importing Libraries**

In [244]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, HistGradientBoostingClassifier 
from sklearn.decomposition import PCA
from imblearn.over_sampling import SMOTE
from imblearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score, precision_score, recall_score, make_scorer, classification_report
import joblib
import sys

**Importing Dataset**

In [245]:
credit = pd.read_csv("C:/Users/Htet Myat/Desktop/Machinelearning/csvfile/credit_score.csv")

credit.head()

C:\Users\Htet Myat\AppData\Local\Temp\ipykernel_29664\1027220132.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  credit = pd.read_csv("C:/Users/Htet Myat/Desktop/Machinelearning/csvfile/credit_score.csv")

       ID Customer_ID  ...     Monthly_Balance Credit_Score
0  0x1602   CUS_0xd40  ...  312.49408867943663         Good
1  0x1603   CUS_0xd40  ...  284.62916249607184         Good
2  0x1604   CUS_0xd40  ...   331.2098628537912         Good
3  0x1605   CUS_0xd40  ...  223.45130972736786         Good
4  0x1606   CUS_0xd40  ...  341.48923103222177         Good

[5 rows x 28 columns]

In [246]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [247]:
credit.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [248]:
credit.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [249]:
credit.value_counts

<bound method DataFrame.value_counts of             ID Customer_ID  ...     Monthly_Balance Credit_Score
0       0x1602   CUS_0xd40  ...  312.49408867943663         Good
1       0x1603   CUS_0xd40  ...  284.62916249607184         Good
2       0x1604   CUS_0xd40  ...   331.2098628537912         Good
3       0x1605   CUS_0xd40  ...  223.45130972736786         Good
4       0x1606   CUS_0xd40  ...  341.48923103222177         Good
...        ...         ...  ...                 ...          ...
99995  0x25fe9  CUS_0x942c  ...          479.866228         Poor
99996  0x25fea  CUS_0x942c  ...           496.65161         Poor
99997  0x25feb  CUS_0x942c  ...          516.809083         Poor
99998  0x25fec  CUS_0x942c  ...          319.164979     Standard
99999  0x25fed  CUS_0x942c  ...          393.673696         Poor

[100000 rows x 28 columns]>

**Dropping the unnecessary columns before training the model**

In [250]:
combined_cols = ['ID', 'Customer_ID', 'Name', 'SSN', 'Month', 'Type_of_Loan']

credit_score = credit.drop (columns=[col for col in combined_cols if col in credit.columns])
credit_score.head()

    Age Occupation  ...     Monthly_Balance  Credit_Score
0    23  Scientist  ...  312.49408867943663          Good
1    23  Scientist  ...  284.62916249607184          Good
2  -500  Scientist  ...   331.2098628537912          Good
3    23  Scientist  ...  223.45130972736786          Good
4    23  Scientist  ...  341.48923103222177          Good

[5 rows x 22 columns]

In [251]:
#Using the function to replace in the cleaned strings after handling the various missing values in different forms in columns
def clean_dirty_numbers(x):
    if isinstance(x, str):
        # Remove '_', '!', '@', '#', '%', and strip whitespace
        x = x.replace('_', '').replace('!', '').replace('@', '').replace('#', '').replace('%', '').strip()
        if x == '':
            return np.nan
    try:
        return float(x)
    except ValueError:
        return np.nan

In [252]:
numeric_cols = ['Age', 'Annual_Income', 'Num_of_Loan', 'Num_of_Delayed_Payment', 
    'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly', 
    'Monthly_Balance', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 
    'Num_Credit_Card', 'Interest_Rate', 'Delay_from_due_date', 
    'Num_Credit_Inquiries', 'Credit_Utilization_Ratio', 'Total_EMI_per_month'
]

for col in numeric_cols:
    if col in credit_score.columns:
        credit_score[col] = credit_score[col].astype(str).apply(clean_dirty_numbers)

In [253]:
dirty_categorical_cols = ['Occupation', 'Payment_of_Min_Amount', 'Credit_Mix', 'Payment_Behaviour']


def clean_dirty_strings(series, col_name):
    series = series.astype(str).str.strip()
    series = series.replace(['_______', 'NM', 'nan', 'N/A', 'Unknown', '_'], np.nan)
    
    if col_name == 'Payment_Behaviour':
        def remove_junk(s):
            if pd.isna(s): return s
            s = str(s)
            if any(c.isdigit() or c in '!@#%.' for c in s):
                 return np.nan 
            return s
        series = series.apply(remove_junk)
    
    series = series.replace('', np.nan)
    
    return series

for col in dirty_categorical_cols:
    if col in credit_score.columns:
        credit_score[col] = clean_dirty_strings(credit_score[col], col)
        credit_score[col].replace("nan", np.nan)

for col in dirty_categorical_cols:
    if col in credit_score.columns:
        mode_val = credit_score[col].mode(dropna=True)[0]
        credit_score[col] = credit_score[col].fillna(mode_val)

if 'Credit_Score' in credit_score.columns:
    if credit_score['Credit_Score'].dtype == object or credit_score['Credit_Score'].isnull().any():
        if credit_score['Credit_Score'].notna().sum() > 0:
             mode_val = credit_score['Credit_Score'].astype(str).mode()[0]
             credit_score['Credit_Score'] = credit_score['Credit_Score'].fillna(mode_val)

**Handling the Payment_Behavior' categorial column**

In [254]:
valid_payment_values = [
    'High_spent_Small_value_payments',
    'High_spent_Medium_value_payments',
    'High_spent_Large_value_payments',
    'Low_spent_Small_value_payments',
    'Low_spent_Medium_value_payments',
    'Low_spent_Large_value_payments'
]

def clean_payment_behaviour(series):
    # Strip spaces
    series = series.astype(str).str.strip()

    # Replace invalid values with NaN
    series = series.apply(lambda x: x if x in valid_payment_values else np.nan)

    return series

credit_score['Payment_Behaviour'] = clean_payment_behaviour(credit_score['Payment_Behaviour'])

credit_score['Payment_Behaviour'] = credit_score['Payment_Behaviour'].fillna(
    credit_score['Payment_Behaviour'].mode()[0]
)

In [255]:
if 'Age' in credit_score.columns:
    credit_score.loc[credit_score['Age'] < 10, 'Age'] = np.nan

In [256]:
if 'Num_Credit_Card' in credit_score.columns:
    credit_score.loc[credit_score['Num_Credit_Card'] > 20, 'Num_Credit_Card'] = np.nan

if 'Interest_Rate' in credit_score.columns:
    credit_score.loc[credit_score['Interest_Rate'] >50, 'Interest_Rate'] = np.nan

if 'Num_of_Loan' in credit_score.columns:
    credit_score.loc[credit_score['Num_of_Loan'] >10, 'Num_of_Loan'] = np.nan

cols_to_fill = ['Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Occupation']

for col in cols_to_fill:
    if col in credit_score.columns:
        mode_value = credit_score[col].mode()[0]
        credit_score[col].fillna(mode_value, inplace=True)

C:\Users\Htet Myat\AppData\Local\Temp\ipykernel_29664\3168500251.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  credit_score[col].fillna(mode_value, inplace=True)

In [257]:
#Grouping the columns that cannot be negative values 
non_negative_cols = [
    'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 
    'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Num_of_Delayed_Payment', 
    'Num_Credit_Inquiries', 'Credit_Utilization_Ratio', 'Total_EMI_per_month',
    'Amount_invested_monthly', 'Outstanding_Debt', 'Delay_from_due_date'
]

for col in non_negative_cols:
    if col in credit_score.columns:
        credit_score.loc[credit_score[col] < 0, col] = np.nan
    
for col in credit_score.select_dtypes(include=[np.number]).columns:
    credit_score[col] = credit_score[col].fillna(credit_score[col].median())

In [276]:
def parse_credit_history(x):
    if pd.isna(x):
        return np.nan
    if isinstance(x, str):
        try:
            parts = x.split() 
            years = int(parts[0])
            months = int(parts[3])
            return (years * 12) + months
        except:
            return np.nan
    return x

if 'Credit_History_Age' in credit_score.columns:
    credit_score['Credit_History_Age'] = credit_score['Credit_History_Age'].apply(parse_credit_history)

In [259]:
#Numeric Imputation: Use Median (Must calculate median per column)
for col in credit_score.select_dtypes(include=[np.number]).columns:
    # Fills the NaNs in the current column (col) with the median of that specific column (df[col].median())
    credit_score[col] = credit_score[col].fillna(credit_score[col].median())

In [260]:
credit_score.head(50)

     Age    Occupation  ...  Monthly_Balance  Credit_Score
0   23.0     Scientist  ...       312.494089          Good
1   23.0     Scientist  ...       284.629162          Good
2   33.0     Scientist  ...       331.209863          Good
3   23.0     Scientist  ...       223.451310          Good
4   23.0     Scientist  ...       341.489231          Good
5   23.0     Scientist  ...       340.479212          Good
6   23.0     Scientist  ...       244.565317          Good
7   23.0     Scientist  ...       358.124168      Standard
8   28.0        Lawyer  ...       470.690627      Standard
9   28.0       Teacher  ...       484.591214          Good
10  28.0       Teacher  ...       466.466476      Standard
11  28.0       Teacher  ...       465.676224          Good
12  28.0       Teacher  ...       444.867032          Good
13  28.0       Teacher  ...       481.505262          Good
14  28.0       Teacher  ...       464.880678          Good
15  28.0       Teacher  ...       356.078109          Good
16  34.0        Lawyer  ...      1043.315978          Good
17  34.0      Engineer  ...       998.869297          Good
18  34.0        Lawyer  ...       715.741367          Good
19  34.0      Engineer  ...       426.513411          Good
20  34.0        Lawyer  ...       810.782153          Good
21  34.0      Engineer  ...       963.921581          Good
22  34.0      Engineer  ...       968.555517      Standard
23  34.0      Engineer  ...       895.494583      Standard
24  54.0  Entrepreneur  ...       433.604773      Standard
25  54.0  Entrepreneur  ...       409.951812      Standard
26  55.0  Entrepreneur  ...       411.427123      Standard
27  55.0  Entrepreneur  ...       262.499594      Standard
28  55.0  Entrepreneur  ...       359.374916      Standard
29  55.0        Lawyer  ...       419.880784      Standard
30  55.0  Entrepreneur  ...       443.549957      Standard
31  55.0  Entrepreneur  ...       379.216381      Standard
32  21.0     Developer  ...       288.605522      Standard
33  21.0     Developer  ...       460.887276      Standard
34  21.0     Developer  ...       392.192266      Standard
35  21.0     Developer  ...       438.545432      Standard
36  21.0     Developer  ...       482.607638      Standard
37  21.0     Developer  ...       497.687279      Standard
38  21.0     Developer  ...       394.318934      Standard
39  21.0     Developer  ...       364.000016      Standard
40  31.0        Lawyer  ...       740.196090          Good
41  31.0        Lawyer  ...       705.931286          Good
42  31.0        Lawyer  ...       698.810766          Good
43  31.0        Lawyer  ...       270.668109          Good
44  31.0        Lawyer  ...       690.918664          Good
45  31.0        Lawyer  ...       633.080175          Good
46  31.0        Lawyer  ...       510.361100      Standard
47  31.0        Lawyer  ...       796.234910          Good
48  33.0        Lawyer  ...       858.462474          Good
49  34.0        Lawyer  ...       547.760457          Good

[50 rows x 22 columns]

In [261]:
def clean_numeric_column(series):
    series = series.astype(str)
    series = pd.to_numeric(series, errors='coerce')
    series = series.replace(0, pd.NA)
    return series


def replace_outliers_with_median(series, upper_percentile=0.95):
    upper_limit = series.quantile(upper_percentile)
    median_val = series.median()
    return series.apply(lambda x: median_val if pd.notna(x) and (x > upper_limit) else x)


cols = ['Total_EMI_per_month', 'Amount_invested_monthly']

for col in cols:
    credit_score[col] = clean_numeric_column(credit_score[col])
    credit_score[col] = credit_score[col].fillna(credit_score[col].median())
    credit_score[col] = replace_outliers_with_median(credit_score[col], 0.95)

C:\Users\Htet Myat\AppData\Local\Temp\ipykernel_29664\351537016.py:18: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  credit_score[col] = credit_score[col].fillna(credit_score[col].median())
C:\Users\Htet Myat\AppData\Local\Temp\ipykernel_29664\351537016.py:18: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  credit_score[col] = credit_score[col].fillna(credit_score[col].median())

In [262]:
credit_score.head(50)

     Age    Occupation  ...  Monthly_Balance  Credit_Score
0   23.0     Scientist  ...       312.494089          Good
1   23.0     Scientist  ...       284.629162          Good
2   33.0     Scientist  ...       331.209863          Good
3   23.0     Scientist  ...       223.451310          Good
4   23.0     Scientist  ...       341.489231          Good
5   23.0     Scientist  ...       340.479212          Good
6   23.0     Scientist  ...       244.565317          Good
7   23.0     Scientist  ...       358.124168      Standard
8   28.0        Lawyer  ...       470.690627      Standard
9   28.0       Teacher  ...       484.591214          Good
10  28.0       Teacher  ...       466.466476      Standard
11  28.0       Teacher  ...       465.676224          Good
12  28.0       Teacher  ...       444.867032          Good
13  28.0       Teacher  ...       481.505262          Good
14  28.0       Teacher  ...       464.880678          Good
15  28.0       Teacher  ...       356.078109          Good
16  34.0        Lawyer  ...      1043.315978          Good
17  34.0      Engineer  ...       998.869297          Good
18  34.0        Lawyer  ...       715.741367          Good
19  34.0      Engineer  ...       426.513411          Good
20  34.0        Lawyer  ...       810.782153          Good
21  34.0      Engineer  ...       963.921581          Good
22  34.0      Engineer  ...       968.555517      Standard
23  34.0      Engineer  ...       895.494583      Standard
24  54.0  Entrepreneur  ...       433.604773      Standard
25  54.0  Entrepreneur  ...       409.951812      Standard
26  55.0  Entrepreneur  ...       411.427123      Standard
27  55.0  Entrepreneur  ...       262.499594      Standard
28  55.0  Entrepreneur  ...       359.374916      Standard
29  55.0        Lawyer  ...       419.880784      Standard
30  55.0  Entrepreneur  ...       443.549957      Standard
31  55.0  Entrepreneur  ...       379.216381      Standard
32  21.0     Developer  ...       288.605522      Standard
33  21.0     Developer  ...       460.887276      Standard
34  21.0     Developer  ...       392.192266      Standard
35  21.0     Developer  ...       438.545432      Standard
36  21.0     Developer  ...       482.607638      Standard
37  21.0     Developer  ...       497.687279      Standard
38  21.0     Developer  ...       394.318934      Standard
39  21.0     Developer  ...       364.000016      Standard
40  31.0        Lawyer  ...       740.196090          Good
41  31.0        Lawyer  ...       705.931286          Good
42  31.0        Lawyer  ...       698.810766          Good
43  31.0        Lawyer  ...       270.668109          Good
44  31.0        Lawyer  ...       690.918664          Good
45  31.0        Lawyer  ...       633.080175          Good
46  31.0        Lawyer  ...       510.361100      Standard
47  31.0        Lawyer  ...       796.234910          Good
48  33.0        Lawyer  ...       858.462474          Good
49  34.0        Lawyer  ...       547.760457          Good

[50 rows x 22 columns]

In [263]:
credit_score.isnull().sum()

Age                         0
Occupation                  0
Annual_Income               0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             0
Credit_Score                0
dtype: int64

In [264]:
encoders = {}
categorical_cols = ['Occupation', 'Credit_Mix', 'Payment_of_Min_Amount', 'Payment_Behaviour', 'Credit_Score']
target_col = 'Credit_Score'

for col in categorical_cols:
    if col in credit_score.columns:
        le = LabelEncoder()
        credit_score[col] = le.fit_transform(credit_score[col].astype(str))
        encoders[col] = le

In [265]:
credit_score.head()

    Age  Occupation  ...  Monthly_Balance  Credit_Score
0  23.0          12  ...       312.494089             0
1  23.0          12  ...       284.629162             0
2  33.0          12  ...       331.209863             0
3  23.0          12  ...       223.451310             0
4  23.0          12  ...       341.489231             0

[5 rows x 22 columns]

In [266]:
X = credit_score.drop(columns=[target_col])
y = credit_score[target_col]
target_encoder = encoders[target_col]

all_unique_labels = ['Good', 'Standard', 'Poor']

target_encoder.fit(all_unique_labels)
poor_label = target_encoder.transform(['Poor'])[0]
scorer = make_scorer(recall_score, average=None, labels=[poor_label])

In [267]:
if X.empty or len(X.columns) == 0:
    raise ValueError
if y.empty:
    raise ValueError

In [268]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [269]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns)

In [270]:
model = RandomForestClassifier(n_estimators=100, random_state=42, n_jobs=-1, max_depth=15)
model.fit(X_train_scaled, y_train)

RandomForestClassifier(max_depth=15, n_jobs=-1, random_state=42)

In [271]:
y_pred = model.predict(X_test_scaled)

In [272]:
accuracy = accuracy_score(y_pred, y_test)
accuracy

0.74595

In [273]:
cm = confusion_matrix(y_test, y_pred)
class_labels = target_encoder.classes_

cm_df = pd.DataFrame(cm, index=class_labels, columns=class_labels)
print(cm_df)

          Good  Poor  Standard
Good      2396    25      1106
Poor       315  4277      1282
Standard  1136  1217      8246

In [274]:
print(classification_report(y_test, y_pred, target_names=class_labels))

              precision    recall  f1-score   support

        Good       0.62      0.68      0.65      3527
        Poor       0.77      0.73      0.75      5874
    Standard       0.78      0.78      0.78     10599

    accuracy                           0.75     20000
   macro avg       0.72      0.73      0.73     20000
weighted avg       0.75      0.75      0.75     20000

In [283]:
import joblib
joblib.dump(model, 'model.pkl', compress=9)

print("saved the model pkl")

saved the model pkl